@page "/OltHost/{id:guid}"
@using LTres.Olt.UI.Shared.Models
@attribute [Authorize]
@inject AppPageLocalizer<Host> localizer
@inject OLTServices oltServices
@inject AppDataService appDataService
@inject IJSRuntime js

<PageTitle>@localizer.GetTitle()</PageTitle>

<div class="data-header">
    <MudText Typo="Typo.h3">@localizer["Title"]</MudText>
    <MudSwitch T="bool" Color="Color.Primary" ThumbIcon="@Icons.Material.Filled.CloudDone">Active</MudSwitch>
</div>
<div class="mb-8">@Id</div>

<div class="data-record">
    <MudTextField T="string" 
        Label="@localizer["Host"]" 
        Variant="Variant.Text" 
        Adornment="Adornment.End" 
        AdornmentIcon="@Icons.Material.Filled.Abc"
        HelperText="@localizer["HostDesc"]"/>

    <MudNumericField T="int" 
        Label="@localizer["Port"]" 
        Variant="Variant.Text" 
        Adornment="Adornment.End" 
        AdornmentIcon="@Icons.Material.Filled.Pin"
        HelperText="@localizer["PortDesc"]"
        Min="0" Max="65535" Step="1" />

    <MudTextField T="string" 
        Label="@localizer["Name"]" 
        Variant="Variant.Text" 
        Adornment="Adornment.End" 
        AdornmentIcon="@Icons.Material.Filled.Abc"
        HelperText="@localizer["NameDesc"]"/>

    <MudTextField T="string" 
        Label="SNMP Community" 
        Variant="Variant.Text"
        Adornment="Adornment.End" 
        AdornmentIcon="@Icons.Material.Filled.Abc"
        HelperText="@localizer["CommunityDesc"]" />
    
    <MudSelect T="int" 
        Label="SNMP Version">
        <MudSelectItem Value="1">1</MudSelectItem>
        <MudSelectItem Value="2">2</MudSelectItem>
    </MudSelect>

    <div>
        <MudNumericField T="int" 
            Label="@localizer["Timeout"]" 
            Variant="Variant.Text" 
            Adornment="Adornment.End" 
            AdornmentIcon="@Icons.Material.Filled.Pin"
            HelperText="@localizer["TimeoutDesc"]" 
            Min="100" Max="10000" Step="100"/>
        <MudSwitch T="bool" Color="@Color.Primary">SNMP Bulk</MudSwitch>
    </div>
</div>

<div class="data-actions">
    <MudButton Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Filled.Save"
        Color="@Color.Success"
        OnClick="HandleSave">@localizer["Save"]</MudButton>
    <MudButton Variant="Variant.Filled" 
        StartIcon="@Icons.Material.Filled.Cancel"
        Color="@Color.Default"
        OnClick="HandleCancel">@localizer["Cancel"]</MudButton>
</div>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private async Task HandleSave()
    {
        await js.InvokeVoidAsync("history.back");
    }
    private async Task HandleCancel()
    {
        await js.InvokeVoidAsync("history.back");
    }
}