@inherits LayoutComponentBase
<MudThemeProvider @bind-IsDarkMode="@isDark" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <LoginDisplay />
        <MudSwitch @bind-Value="@isDark" Color="Color.Primary" Class="ma-4" ThumbIcon="@Icons.Material.Filled.DarkMode" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Lg" Elevation="1" Variant="DrawerVariant.Mini" Overlay="false">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </MudMainContent>
</MudLayout>

@code{
    private bool open = false;
    private bool isDark = true;
    
    private void ToggleDrawer()
    {
        open = !open;
    }
}