@inherits LayoutComponentBase
@inject AppDataService appDataService

<MudThemeProvider @bind-IsDarkMode="@isDark" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1" Dense="true">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <div class="app-bar-title">
            <MudText Typo="Typo.h6">@appDataService.Title</MudText>
            <MudText Typo="Typo.caption">@appDataService.Description</MudText>
        </div>
        <MudSpacer />
        <LoginDisplay />
        <MudSwitch @bind-Value="@isDark" Color="Color.Primary" Class="ma-4" ThumbIcon="@Icons.Material.Filled.DarkMode" />
        @if (appDataService.Loading) 
        {
            <MudProgressLinear Indeterminate="true" Color="Color.Default" Rounded="false" Striped="false" Size="Size.Small" Class="pgb-loading" />
        }
    </MudAppBar>
    <MudDrawer @bind-Open="@open" ClipMode="DrawerClipMode.Always" Breakpoint="Breakpoint.Lg" Elevation="1" Variant="DrawerVariant.Mini" Overlay="false">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="page">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </MudMainContent>
</MudLayout>

@code{
    private bool open = false;
    private bool isDark = true;

    protected override void OnInitialized()
    {
        appDataService.PropertyChanged += (ss, ee) => StateHasChanged();
    }

    private void ToggleDrawer()
    {
        open = !open;
    }
}